h1= @test.title
p= @question.body

h2 Answers

= link_to 'New answer', new_answer_path(@question)

ol= render @question.answers

= link_to 'Edit', edit_question_path(@question)
= ' | '
= link_to 'Back', test_path(@question.test)
