.nav {
  position: relative;
  align-items: center;
}
.nav.user {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.nav.project {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.nav.nav-admin {
  position: absolute;
  top: 30px;
  right: 16px;
  font-size: 18px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}
