.nav {
  position: relative;
  align-items: center;
}
.nav.user {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.nav.project {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
