div id="footer"
  | #{now_year}, Dmitri Tchemski, #{link_to(TestGuru, github_url('tchemski', 'test-guru'), target: '_blank')}.
  |  Учебный проект в онлайн-школе #{link_to('Thinknetica', 'http://thinknetica.com/', target: '_blank')}
