div id="footer"
  | #{current_year}, Dmitri Tchemski, githab: #{github_link('tchemski', 'test-guru')}.
  |  Учебный проект в онлайн-школе #{link_to('Thinknetica', 'http://thinknetica.com/', target: '_blank')}
